
body{
    margin:0;
    padding:0;
    background-color:burlywood;
}
#navbar ul{
    display: flex;
    flex-direction: row;
    gap:30px;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    color:rgb(255, 255, 255);
    font-family: "Raleway",sans-serif;
    font-size: 1rem;
}
.nav-logo{
    color:rgb(190, 3, 3);
    font-size: 1.5rem;
}
.nav-logo:hover{
    color:brown
}
.nav-link-logo{
    text-decoration: none;
    color:rgb(150, 7, 7)
}
.nav-link{
    text-decoration: none;
    color:rgb(255, 255, 255)
}
.nav-link:hover{
    color:brown
}
.nav-link-logo:hover{
    color:brown
}
.slideshow-container {
position: absolute;
left:15%;
right:15%;
}
.mySlides {
    display: none;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    padding: 16px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 60px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(184, 179, 179, 0.8);
}
.middle-text-container{
    position: relative;
    margin-top:15%;
    text-align: center;
}
.middle-text{
    font-size: 5rem;
    color:rgb(150, 7, 7);
    font-family: "Raleway",sans-serif;
}
.middle-text-caption{
    font-size:2rem;
    color:rgb(255, 255, 255);
    font-family: "Raleway",sans-serif;
}
.popular-food-title{
    font-size: 3rem;
    color:rgb(150, 7, 7);
    font-family: "Raleway",sans-serif;
    margin-top:30rem;
    text-align: center;
}
.popular-food-container{
    margin-top:3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.popular-food-image{
    border-radius: 25%;
}
.popular-food-text{
    text-align: center;
    color:rgb(0, 0, 0);
    font-size: 2rem;
    font-family: "Raleway",sans-serif;
}
hr{
    border:6px solid black
}